/*** FONTS ***/
:root {
  font-size: 62.5%;
  /* px->rem in base 10 */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v17-latin-regular.woff2") format("woff2"), url("../fonts/lato-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v17-latin-700.woff2") format("woff2"), url("../fonts/lato-v17-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/*** VARIABLES ***/
/*** EXTEND PLACEHOLDER ***/
h1, h2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/
/*** BASECAMP ***/
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  body {
    text-align: left;
  }
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 3.7rem;
}

h3 {
  font-size: 1.6rem;
}

a, strong {
  font-weight: 700;
}

/*** HEADER ***/
@media screen and (min-width: 1025px) {
  .header p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

/*** FEATURES ***/
@media screen and (min-width: 1025px) {
  .features h2 {
    text-align: center;
  }
}

/*** TESTIMONIALS ***/
.testimonials-slider__single_review {
  font-size: 1.4rem;
  line-height: 1.85rem;
  text-align: left;
}

@media screen and (min-width: 1025px) {
  .testimonials h2 {
    text-align: center;
  }
}

/*** THEY TALK ***/
@media screen and (min-width: 1025px) {
  .theytalk {
    text-align: center;
  }
}

/*** FOOTER ***/
footer {
  text-align: left;
}

/*** VARIABLES ***/
/*** MIXIN ***/
/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/
/*** BASECAMP ***/
body {
  color: #4f4f4f;
  background-color: #E5E5E5;
}

header {
  background-color: #f4f6f9;
}

.row_backcolor1 {
  background-color: #ffffff;
}

.row_backcolor2 {
  background-color: #fafafa;
}

footer {
  background: #00adee;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #ffffff;
}

h1, h2 {
  color: #333333;
}

h3 {
  color: #00adee;
}

a {
  text-decoration: none;
  color: #00adee;
}

a:hover {
  text-decoration: underline;
  color: #5282f0;
}

/*** HEADER ***/
header {
  background-color: #f4f6f9;
}

@media screen and (min-width: 1025px) {
  header {
    background: #f4f6f9 url("../img/frame_cta1.png") no-repeat right;
  }
}

/*** WHAT IT DOES ***/
.what-it-does_demo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, white), to(rgba(255, 255, 255, 0))), url("../img/back_whatitdoes.png") no-repeat center;
  background: linear-gradient(white 10%, rgba(255, 255, 255, 0)), url("../img/back_whatitdoes.png") no-repeat center;
  width: 100%;
  background-size: cover;
}

@media screen and (min-width: 1025px) {
  .what-it-does {
    background-color: #ffffff;
    z-index: 10;
  }
  .what-it-does_demo {
    background: -webkit-gradient(linear, right top, left top, color-stop(10%, white), to(rgba(255, 255, 255, 0))), url("../img/back_whatitdoes.png") center;
    background: linear-gradient(-90deg, white 10%, rgba(255, 255, 255, 0)), url("../img/back_whatitdoes.png") center;
  }
}

/*** GET STARTED ***/
.get-started {
  background: url("../img/frame_getstarted_m2.jpg") no-repeat right bottom;
}

@media screen and (max-width: 360px) {
  .get-started {
    background: url("../img/frame_getstarted_m.jpg") no-repeat center bottom;
  }
}

@media screen and (min-width: 1025px) {
  .get-started {
    background: url("../img/frame_getstarted.png") no-repeat;
  }
}

/*** FEATURES ***/
.features_video {
  background: url("../img/ico_video_blu.svg") no-repeat center top;
}

.features_notice {
  background: url("../img/ico_notice_blu.svg") no-repeat center top;
}

.features_hd {
  background: url("../img/ico_hd_blu.svg") no-repeat center top;
}

.features_flag {
  background: url("../img/ico_flag_blu.svg") no-repeat center top;
}

.features_pip {
  background: url("../img/ico_pip_blu.svg") no-repeat center top;
}

.features_update {
  background: url("../img/ico_update_blu.svg") no-repeat center top;
}

.features_vidiprinter {
  background: url("../img/ico_vidiprinter_blu.svg") no-repeat center top;
}

.features_match {
  background: url("../img/ico_match_blu.svg") no-repeat center top;
}

.features_personalize {
  background: url("../img/ico_personalize_blu.svg") no-repeat center top;
}

@media screen and (min-width: 1025px) {
  .row_features {
    background: url("../img/back_features.jpg");
    background-size: cover;
    color: #ffffff;
  }
  .row_features h2 {
    color: #ffffff;
  }
  .features_video {
    background: url("../img/ico_video_white.svg") no-repeat left top;
  }
  .features_notice {
    background: url("../img/ico_notice_white.svg") no-repeat left top;
  }
  .features_hd {
    background: url("../img/ico_hd_white.svg") no-repeat left top;
  }
  .features_flag {
    background: url("../img/ico_flag_white.svg") no-repeat left top;
  }
  .features_pip {
    background: url("../img/ico_pip_white.svg") no-repeat left top;
  }
  .features_update {
    background: url("../img/ico_update_white.svg") no-repeat left top;
  }
  .features_vidiprinter {
    background: url("../img/ico_vidiprinter_white.svg") no-repeat left top;
  }
  .features_match {
    background: url("../img/ico_match_white.svg") no-repeat left top;
  }
  .features_personalize {
    background: url("../img/ico_personalize_white.svg") no-repeat left top;
  }
}

@media screen and (max-width: 1440px) {
  .row_features {
    background-size: auto;
  }
}

/*** TESTIMONIALS ***/
.testimonials-slider__single_user {
  background: url("../img/testimonial_twitter.svg") no-repeat right;
}

.prev-testimonial {
  display: block;
  border-radius: 50%;
  min-width: 47px;
  min-height: 47px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.1);
  background: url("../img/ico-nav_prev.svg") no-repeat center;
  visibility: hidden;
}

.next-testimonial {
  display: block;
  border-radius: 50%;
  min-width: 47px;
  min-height: 47px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.1);
  background: url("../img/ico-nav_next.svg") no-repeat center;
}

.testimonial-point {
  /* Possibile renderla un ciclo ? */
}

.testimonial-point_active-0 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: #828282;
}

.testimonial-point_active-1 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: rgba(130, 130, 130, 0.85);
}

.testimonial-point_active-2 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: rgba(130, 130, 130, 0.7);
}

.testimonial-point_active-3 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: rgba(130, 130, 130, 0.55);
}

.testimonial-point_active-4 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: rgba(130, 130, 130, 0.4);
}

.testimonial-point_active-5 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: rgba(130, 130, 130, 0.25);
}

.testimonial-point_active-6 {
  border-radius: 50%;
  min-width: 11px;
  min-height: 11px;
  background-color: rgba(130, 130, 130, 0.1);
}

@media screen and (min-width: 1025px) {
  .testimonials-slider::before {
    /* Overlay sui contenuti del blocco | Overlay on block contents */
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 20% 80%, white);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "\00a0";
  }
  .prev-testimonial {
    visibility: visible;
  }
}

/*** CTA2 ***/
.cta2_background {
  background: url("../img/frame_cta2_m.png") no-repeat center bottom;
  width: 100%;
  background-size: cover;
}

@media screen and (min-width: 1025px) {
  .cta2_background {
    background: url("../img/frame_cta2.png") no-repeat left;
    max-height: 483px;
  }
}

/*** VARIABLES ***/
/*** EXTEND PLACEHOLDER ***/
.header__storedownload, .cta2__storedownload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__storedownload a, .cta2__storedownload a {
  display: block;
}

.header__storedownload a:hover, .cta2__storedownload a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (min-width: 1025px) {
  .header__storedownload, .cta2__storedownload {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1025px) {
  .row_what-it-does, .row_cta2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/
/*** BASECAMP ***/
body {
  margin: 0 auto 0 auto;
}

.learn-more {
  display: block;
}

@media screen and (max-width: 360px) {
  body {
    width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
}

/*** BOXED STYLE ***/
.page-layout {
  width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .page-layout {
    width: 100%;
  }
}

/*** HEADER ***/
.header {
  padding: 32px 20px 59px 20px;
}

.header h1 {
  margin: 86px 0 33px 0;
}

.header__storedownload {
  margin: 50px 0 0 0;
}

@media screen and (min-width: 1025px) {
  .header {
    padding: 61px 163px 164px 163px;
    max-width: 546px;
  }
  .header h1 {
    margin: 133px 0 30px 0;
  }
  .header__storedownload a:first-child {
    margin-right: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .header p {
    max-width: 453px;
  }
}

/*** WHAT IT DOES ***/
.what-it-does {
  padding: 54px 0 22px 0;
}

.what-it-does h2 {
  margin: 27px auto 20px auto;
}

.what-it-does p {
  margin-bottom: 22px;
}

.what-it-does_demo picture, .what-it-does_demo img {
  margin: 42px auto 0px auto;
  width: 100%;
  max-width: 565px;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .row_what-it-does {
    max-height: 592px;
  }
  .what-it-does {
    padding: 133px 217px 117px 0;
    max-width: 426px;
  }
  .what-it-does h2 {
    margin: 27px auto;
  }
  .what-it-does p {
    margin-bottom: 23px;
  }
  .what-it-does_demo picture, .what-it-does_demo img {
    margin: 85px 0 0 25px;
  }
}

@media screen and (min-width: 1440px) {
  .what-it-does p {
    max-width: 407px;
  }
}

/*** GET STARTED ***/
.get-started {
  padding: 62px 20px 594px 20px;
}

.get-started h2 {
  margin: 27px auto;
  width: 360px;
}

.get-started p {
  margin: 0 auto 25px auto;
  width: 360px;
}

@media screen and (max-width: 400px) {
  .get-started h2 {
    width: auto;
  }
  .get-started p {
    width: auto;
  }
}

@media screen and (min-width: 1025px) {
  .get-started {
    padding: 217px 0px 171px 163px;
  }
  .get-started h2 {
    margin-left: 0;
  }
  .get-started p {
    margin-left: 0;
    width: 480px;
  }
  .get-started .learn-more {
    margin-top: 54px;
  }
}

/*** FEATURES ***/
.features {
  padding: 42px 20px 19px 20px;
}

.features h2 {
  margin: 0 auto 52px auto;
}

.features li {
  padding: 50px 0;
}

@media screen and (max-width: 400px) {
  .features li {
    width: 311px;
  }
}

@media screen and (min-width: 1025px) {
  .features {
    padding: 76px 163px 66px 163px;
  }
  .features ul {
    list-style-type: disc;
    list-style-position: inside;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features li {
    width: 30%;
    padding-right: 5%;
  }
  .features li:nth-child(3n) {
    padding-right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .features li {
    width: 311px;
    padding-right: 87px;
  }
  .features li:nth-child(3n) {
    padding-right: 0;
  }
}

/*** TESTIMONIALS ***/
.testimonials {
  padding: 50px 0 71px 0;
}

.testimonials h2 {
  margin: 0 auto 32px auto;
}

.testimonials-slider {
  position: relative;
}

.testimonials-slider__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.testimonials-slider_mobilefirst {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.testimonials-slider__single {
  border: 1px solid #828282;
  border-radius: 4px;
  padding: 15px 13px 15px 17px;
  min-width: 309px;
  height: 130px;
  margin: 0 18px;
}

.testimonials-slider__single_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 18px;
}

.testimonials-slider__single_user img {
  border: 3px solid #00adee;
  border-radius: 50%;
}

.testimonials-slider__single_user p {
  padding: 0 11px;
}

.testimonials-slider__single_review {
  font-size: 14px;
  width: 279px;
}

.testimonials-slider__nav_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 380px;
  position: absolute;
  top: 57px;
  left: 0;
}

.testimonials-slider__nav_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.testimonial-point {
  margin: 33px 5px 0 5px;
}

@media screen and (max-width: 400px) {
  .testimonials-slider__single {
    min-width: 292px;
    width: 292px;
  }
  .testimonials-slider__nav_arrows {
    min-width: 360px;
  }
}

@media screen and (min-width: 1025px) {
  .testimonials {
    padding: 62px 0 50px 0;
  }
  .testimonials h2 {
    margin: 0 auto 63px auto;
  }
  .testimonials-slider__reviews {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials-slider_mobilefirst {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .testimonials-slider__nav_arrows {
    min-width: 86%;
    top: 57px;
    left: 7%;
  }
  .testimonial-point {
    margin: 47px 5px 0 5px;
  }
}

/*** THEY TALK ***/
.theytalk {
  padding: 57px 0 71px 0;
}

.theytalk h2 {
  margin: 0 auto 43px auto;
}

.theytalk__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theytalk__list_50row {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  margin-bottom: 20px;
}

.theytalk__list_33row {
  -webkit-box-flex: 1;
      -ms-flex: 1 33%;
          flex: 1 33%;
  margin-bottom: 40px;
}

.theytalk__list_100row {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

@media screen and (min-width: 1025px) {
  .theytalk {
    padding: 57px 100px 69px 100px;
  }
  .theytalk h2 {
    margin: 0 auto 58px auto;
  }
  .theytalk__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theytalk__list_50row {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 0;
  }
  .theytalk__list_33row {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 0;
  }
  .theytalk__list_100row {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

/*** CTA2 ***/
.cta2 {
  padding: 4px 20px 46px 20px;
}

.cta2 h2 {
  margin: 15px auto;
}

.cta2 p {
  margin: 0 auto 37px auto;
  width: 309px;
}

.cta2__storedownload {
  margin: 37px 0 0 0;
}

.cta2_background {
  min-width: 360px;
  min-height: 261px;
}

@media screen and (max-width: 400px) {
  .cta2 {
    width: 320px;
  }
}

@media screen and (min-width: 1025px) {
  .cta2 {
    padding: 94px 0 85px 77px;
  }
  .cta2 h2 {
    margin-bottom: 35px;
  }
  .cta2 p {
    margin: 0 0 38px 0;
    width: 535px;
  }
  .cta2__storedownload a:first-child {
    margin-right: 36px;
  }
  .cta2_background {
    min-width: 0;
    min-height: 0;
  }
}

/*** FOOTER ***/
.footer {
  padding: 41px 20px 45px 20px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 0 34px 0;
}

.footer__social li {
  margin-right: 17px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav li {
  margin-right: 19px;
}

@media screen and (max-width: 400px) {
  .footer {
    width: 320px;
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    margin: 0 auto;
    padding: 45px 0 47px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1015px;
  }
  .footer__social {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=style.css.map */