@import 'theme';

/*** VARIABLES ***/
$box-m: 360px;
$box-d: 1440px;

/*** EXTEND PLACEHOLDER ***/
%storebutton {
    display: flex;
    justify-content: space-between;
    & a {
        display: block;
        &:hover {
            transform: scale(1.02);
        }
    }
    @media screen and (min-width: $breakpoint) {
        justify-content: flex-start;
    }
}

%mobilerowdesktopreverse {
    @media screen and (min-width: $breakpoint) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}



/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    margin: 0 auto 0 auto;
}
.learn-more {
    display: block;
}

@media screen and (max-width: $box-m) {
    body {
        width: $box-m;
    }
}

@media screen and (min-width: $box-d) {
    body {
        max-width: $box-d;
    }
}


/*** BOXED STYLE ***/
.page-layout {
    width: $box-m;
    margin: 0 auto;
}

@media screen and (min-width: $breakpoint) {
    .page-layout {
        width: 100%;
    }
}


/*** HEADER ***/
.header {
    padding: 32px 20px 59px 20px;
    & h1 {
        margin: 86px 0 33px 0;
    }
    &__storedownload {
        @extend %storebutton;
        margin: 50px 0 0 0;
    }
}

@media screen and (min-width: $breakpoint) {
    .header {
        padding: 61px 163px 164px 163px;
        max-width: 546px;
        & h1 {
            margin: 133px 0 30px 0;
        }
        &__storedownload {
            & a:first-child {
                margin-right: 36px;
            }
        }
    }
}

@media screen and (min-width: $box-d) {
    .header p {
        max-width: 453px;
    }
}


/*** WHAT IT DOES ***/
.row_what-it-does {
    @extend %mobilerowdesktopreverse;
}
.what-it-does {
    padding: 54px 0 22px 0;
    & h2 {
        margin: 27px auto 20px auto;
    }
    & p {
        margin-bottom: 22px;
    }
}
.what-it-does_demo {
    & picture, & img {
            margin: 42px auto 0px auto;
            width: 100%; 
            max-width: 565px;
            height: auto;
    }
}

@media screen and (min-width: $breakpoint) {
    .row_what-it-does {
        max-height: 592px;
    }
    .what-it-does {
        padding: 133px 217px 117px 0;
        max-width: 426px;
        & h2 {
            margin: 27px auto;
        }
        & p {
            margin-bottom: 23px;
        }
    }
    .what-it-does_demo {
        & picture, & img {
            margin: 85px 0 0 25px;
        }
    }
}

@media screen and (min-width: $box-d) {
    .what-it-does p {
        max-width: 407px;
    }
}


/*** GET STARTED ***/
.get-started {
    padding: 62px 20px 594px 20px;
    & h2 {
        margin: 27px auto;
        width: $box-m;
    }
    & p {
        margin: 0 auto 25px auto;
        width: $box-m;
    }
}

@media screen and (max-width: $breakpoint-m) {
    .get-started {
        & h2 {
            width: auto;
        }
        p {
            width: auto;
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .get-started {
        padding: 217px 0px 171px 163px;
        & h2 {
            margin-left: 0;
        }
        & p {
            margin-left: 0;
            width: 480px;
        }
        & .learn-more {
            margin-top: 54px;
        }
    }
}


/*** FEATURES ***/
.features {
    padding: 42px 20px 19px 20px;
    & h2 {
        margin: 0 auto 52px auto;
    }
    & li {
        padding: 50px 0;
    }
}

@media screen and (max-width: $breakpoint-m) {
    .features {
        & li {
            width: 311px;
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .features {
        padding: 76px 163px 66px 163px;
        & ul {
            list-style-type: disc;
            list-style-position: inside;
            display: flex;
            flex-wrap: wrap;
        }
        & li {
            width: 30%;
            padding-right: 5%;
            &:nth-child(3n) {
                padding-right: 0;
                }
        }
    }
}

@media screen and (min-width: $box-d) {
    .features {
        & li {
            width: 311px;
            padding-right: 87px;
            &:nth-child(3n) {
                padding-right: 0;
                }
        }
    }
}


/*** TESTIMONIALS ***/
.testimonials {
    padding: 50px 0 71px 0;
    & h2 {
        margin: 0 auto 32px auto;
    }
    &-slider {
        position: relative;
        &__reviews {
            display: flex;
            overflow: hidden;
        }
        &_mobilefirst {
            order: -1;
        }
        &__single {
            border: 1px solid #828282;
            border-radius: 4px;
            padding: 15px 13px 15px 17px;
            min-width: 309px;
            height: 130px;
            margin: 0 18px;
            &_user {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 18px;
            }
            &_user img {
                border: 3px solid $color-a;
                border-radius: 50%;            
            }
            &_user p {
                padding: 0 11px;
            }
            &_review {
                font-size: 14px;
                width: 279px;
            }
        }
        &__nav_arrows {
            display: flex;
            justify-content: space-between;
            min-width: 380px;
            position: absolute;
            top: 57px;
            left: 0;
        }
        &__nav_points {
            display: flex;
            justify-content: center;
            position: relative;
        }
    }
}
.testimonial-point {
    margin: 33px 5px 0 5px;
}

@media screen and (max-width: $breakpoint-m) {
    .testimonials {
        &-slider {
            &__single {
                min-width: 292px;
                width: 292px;
            }
            &__nav_arrows {
                min-width: 360px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .testimonials {
        padding: 62px 0 50px 0;
        & h2 {
            margin: 0 auto 63px auto;
        }
        &-slider {
            &__reviews {
                justify-content: center;
            }
            &_mobilefirst {
                order: 0;
            }
            &__nav_arrows {
                min-width: 86%;
                top: 57px;
                left: 7%;
            }
        }
    }
    .testimonial-point {
        margin: 47px 5px 0 5px;
    }
}


/*** THEY TALK ***/
.theytalk {
    padding: 57px 0 71px 0;
    & h2 {
        margin: 0 auto 43px auto;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_50row {
            flex: 1 50%;
            margin-bottom: 20px;
        }
        &_33row {
            flex: 1 33%;
            margin-bottom: 40px;
        }
        &_100row {
            flex: 1 100%;
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .theytalk {
        padding: 57px 100px 69px 100px;
        & h2 {
            margin: 0 auto 58px auto;
        }
        &__list {
            flex-wrap: nowrap;
            justify-content: space-between;
            &_50row {
                flex: auto;
                margin-bottom: 0;
            }
            &_33row {
                flex: auto;
                margin-bottom: 0;
            }
            &_100row {
                flex: auto;
            }
        }
    }
}


/*** CTA2 ***/
.row_cta2 {
    @extend %mobilerowdesktopreverse;
}
.cta2 {
    padding: 4px 20px 46px 20px;
    & h2 {
        margin: 15px auto;
    }
    & p {
        margin: 0 auto 37px auto;
        width: 309px;
    }
    &__storedownload {
        @extend %storebutton;
        margin: 37px 0 0 0;
    }
    &_background {
        min-width: $box-m;
        min-height: 261px;
    }
}

@media screen and (max-width: $breakpoint-m) {
    .cta2 {
        width: 320px;
    }
}

@media screen and (min-width: $breakpoint) {
    .cta2 {
        padding: 94px 0 85px 77px;
        & h2 {
            margin-bottom: 35px;
        }
        & p {
            margin: 0 0 38px 0;
            width: 535px;
        }
        &__storedownload {
            & a:first-child {
                margin-right: 36px;
            }
        }
        &_background {
            min-width: 0;
            min-height: 0;
        }
    }
}


/*** FOOTER ***/
.footer {
    padding: 41px 20px 45px 20px;
    &__social {
        display: flex;
        margin: 11px 0 34px 0;
        & li {
            margin-right: 17px;
        }
    }
    &__nav {
        display: flex;
        & li {
            margin-right: 19px;
        }
    }
}

@media screen and (max-width: $breakpoint-m) {
    .footer {
        width: 320px;
    }
}

@media screen and (min-width: $breakpoint) {
    .footer {
        padding: 45px 0 47px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1115px;
        &__social {
            margin: 0;
            order: 2;
        }
    }
}