@import 'font', 'theme';

/*** VARIABLES ***/
$breakpoint: 1024px+1px;
$box-m: 360px;
$box-d: 1440px;

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    margin: 0 auto 0 auto;
}
@media screen and (min-width: $breakpoint) {
    body {
        max-width: $box-d;
    }
}
.learn-more {
    display: block;
}


/*** BOXED STYLE ***/
.page-layout {
    width: $box-m;
    margin: 0 auto;
}
@media screen and (min-width: $breakpoint) {
    .page-layout {
        width: 100%;
    }
}


/*** HEADER ***/
.header {
    padding: 32px 20px 59px 20px;
    & h1 {
        margin: 86px 0 33px 0;
    }
    &__storedownload {
        margin: 50px 0 0 0;
        display: flex;
        justify-content: space-between;
        & a {
            display: block;
            &:hover {
                transform: scale(1.02);
            }
        }
    }
}
@media screen and (min-width: $breakpoint) {
    .header {
        padding: 61px 163px 164px 163px;
        max-width: 546px;
        & h1 {
            margin: 133px 0 30px 0;
        }
        & p {
            max-width: 453px;
        }
        &__storedownload {
            justify-content: flex-start;
            & a:first-child {
                margin-right: 36px;
            }
        }
    }
}


/*** WHAT IT DOES ***/
.what-it-does {
    padding: 54px 0 22px 0;
    & h2 {
        margin: 27px auto 20px auto;
    }
    & p {
        margin-bottom: 22px;
    }
}
.what-it-does_demo {
    & picture, & img {
            margin: 42px auto 0px auto;
            width: 100%; 
            max-width: 565px;
            height: auto;
    }
}
@media screen and (min-width: $breakpoint) {
    .row_what-it-does {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-height: 592px;
    }
    .what-it-does {
        padding: 133px 217px 117px 0;
        max-width: 426px;
        & h2 {
            margin: 27px auto;
        }
        & p {
            margin-bottom: 23px;
            width: 407px;
        }
    }
    .what-it-does_demo {
        & picture, & img {
            margin: 85px 0 0 25px;
        }
    }
}


/*** GET STARTED ***/
.get-started {
    padding: 62px 20px 594px 20px;
    & h2 {
        margin: 27px auto;
    }
    & p {
        margin-bottom: 25px;
        width: 320px;
    }
}
@media screen and (min-width: $breakpoint) {
    .get-started {
        padding: 217px 0px 171px 163px;
        & p {
            width: 480px;
        }
    }
}

/*** FEATURES ***/
.features {
    padding: 42px 20px 19px 20px;
    & h2 {
        margin: 0 auto 52px auto;
    }
    & li {
        padding: 50px 0;
        width: 311px;
    }
}
@media screen and (min-width: $breakpoint) {
    .features {
        padding: 76px 163px 66px 163px;
        & ul {
            list-style-type: disc;
            list-style-position: inside;
            display: flex;
            flex-wrap: wrap;
        }
        & li {
            padding-right: 87px;
            &:nth-child(3n) {
                padding-right: 0;
                }
        }
    }
}


/*** TESTIMONIALS ***/
.testimonials {
    padding: 50px 0 71px 0;
    & h2 {
        margin: 0 auto 32px auto;
    }
    &-slider {
        position: relative;
        &__reviews {
            display: flex;
            overflow: hidden;
        }
        &_mobilefirst {
            order: -1;
        }
        &__single {
            border: 1px solid #828282;
            border-radius: 4px;
            padding: 15px 13px 15px 17px;
            min-width: 309px;
            height: 130px;
            margin: 0 18px;
            &_user {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 18px;
            }
            &_user img {
                border: 3px solid $color-a;
                border-radius: 50%;            
            }
            &_user p {
                padding: 0 11px;
            }
            &_review {
                font-size: 14px;
                width: 279px;
            }
        }
        &__nav_arrows {
            display: flex;
            justify-content: space-between;
            min-width: 380px;
            position: absolute;
            top: 57px;
            left: 0;
        }
        &__nav_points {
            display: flex;
            justify-content: center;
            position: relative;
        }
    }
}
.testimonial-point {
    margin: 33px 5px 0 5px;
}

@media screen and (min-width: $breakpoint) {
    .testimonials {
        padding: 62px 0 50px 0;
        & h2 {
            margin: 0 auto 63px auto;
        }
        &-slider {
            &__reviews {
                justify-content: center;
            }
            &_mobilefirst {
                order: 0;
            }
            &__nav_arrows {
                min-width: 86%;
                top: 57px;
                left: 7%;
            }
        }
    }
    .testimonial-point {
        margin: 47px 5px 0 5px;
    }
}