/*** VARIABLES ***/
$breakpoint: 1024px+1px;
$color-h: #333333;
$color-text_dark: #4f4f4f;
$color-text_light: #ffffff;
$color-a: #00adee;
$color-hover: #5282f0;
$color-back_header: #f4f6f9;
$color-back_loghi: #fafafa;
$color-back_footer: #00adee;

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    color: $color-text_dark;
    background-color: #E5E5E5;
}
header {
    background-color: $color-back_header;
}
.row {
    padding: 0;
    margin: 0;
    &_white {
        background-color: #fff;
    }
}
footer {
    background: $color-back_footer;
    color: $color-text_light;
}
h1, h2 {
    color: $color-h;
}
h3 {
    color: $color-a;
}
a {
    text-decoration: none;
    color: $color-a;
    &:hover {
        text-decoration: underline;
        color: $color-hover;
    }
}


/*** HEADER ***/
header {
    background-color: $color-back_header;
}
@media screen and (min-width: $breakpoint) {
    header {
        background: $color-back_header url("../img/frame_cta1.png") no-repeat right;
    }
}


/*** WHAT IT DOES ***/
.what-it-does_demo {
    background: linear-gradient(rgba(255,255,255,1) 10%, rgba(255,255,255,0)), url("../img/back_whatitdoes.png") no-repeat center;
    width: 100%;
    background-size: cover;
}
@media screen and (min-width: $breakpoint) {
    .what-it-does_demo {
        background: linear-gradient(-90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0)), url("../img/back_whatitdoes.png") center;
    }
}